@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
       url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype'),

       /* Add URLs for other weights if downloaded */
       url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
       url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 400; /* Default weight */
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  user-select: auto;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 106px;
  padding-right: 100px;
}


/* -------------Topbar Content------------- */

.topbar {
  width: 100%;
  position: fixed;
  display: flex;
  top: 0px;
  background-color: #215263;
  z-index: 999;
}
.topbar img {
  margin-left: 17px;
  margin-top: 10px;
  height: 42px;
}
.banner {
  flex: 1;
  margin-left: 10px;
  margin-top: 12px;
  color: white;
  font-size: 13px;
}


/* -------------Sidebar Left Content------------- */

.search_textbox {
  position: relative;
  padding-right: 1px;
}
.search_textbox input {
  padding-left: 10px;
  padding-right: 40px;
  border: none;
  height: 42px;
  width: 100%;
}
.search_textbox span {
  position: absolute;
  top: 13px;
  right: 10px;
}
.search_textbox span:hover {
  font-size: 20px;
  cursor: pointer;
}
.search_placeholder::placeholder {
  font-size: 20px;
  cursor: pointer;
}

.sidebar {
  width: 300px;
  height: 91%;
  background: white;
  transition: left 0.4s ease;
  position: fixed;
  top: 59px;
  overflow-y: auto;
}
nav ul {
  width: 100%;
  list-style: none;
}
nav ul li {
  background: #219EBC;
  line-height: 40px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a {
  color: rgb(5, 5, 5);
  background: #48ccf5;
}
nav ul li.active li a {
  color: rgb(255, 255, 255);
  background:#1b83a5;
  border-left-color: transparent;
}
.active-subitem {
  color: black !important;
  background:#00BBF9!important;
}
nav ul li a:hover {
  color: black;
  background: #00BBF9;
  cursor: pointer;
}
nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul ul li {
  line-height: 40px;
  border-top: none;
}
.subitem {
  font-size: 15px;  
  padding: 10px 0px 10px 35px;
  line-height: 1.5;
}
.subitem2 {
  font-size: 15px;  
  padding: 10px 0px 10px 50px;
  line-height: 1.5;
}
nav ul ul li a:hover {
  color: black;
  background:#00BBF9!important;
  cursor: pointer;
}

.btn-online-help:hover,
.btn-faqs:hover,
.btn-about:hover {
  font-size: 20px;
  cursor: pointer;
}
.btn-online-help,
.btn-faqs,
.btn-about {
  padding: 8px 0px 8px 30px;
  background-color: #0B6687;
  margin-bottom: 2px;
  user-select: none;
}

.leftside-tab {
  color: white;
  font-weight: 600;
  font-size: 22px
}

.div-online-help a,
.div-faqs a {
  font-size: 14px;
}


.div-online-help,
.div-faqs {
  position: static;
  display: none;
}
.rotate {
  transform: translateY(-50%) rotate(-180deg);
}
nav ul ul {
  position: static;
  display: none;
}
.show {
  display: block;
}


/* -------------Sidebar Right Content------------- */

#div_content {
  padding: 0px 0px 80px 348px;
}

#content {
  /* width: 79%; */
  color: #050505;
  z-index: -1;
  text-align: left;
}
#content p { 
  font-size: 16px;
  font-weight: 100;
  left: 22%;
}
#content .figure {
  text-align: center;
  vertical-align: middle;
  font-size:14px;
}
#content .notes {
  text-align: left;
  color: red;
  font-size: 14px;
}
.about th,td {
  padding: 2px 15px 2px 15px;
}
.about b {
  font-size: 20px; 
}
.about .position {
  font-style: italic; 
}


/* -------------Footer------------- */

.footer {
  position: fixed;
  padding-left: 10px;
  bottom: 0;
  text-align: left;
  background-color: white;
}
.footer-img {
  position: absolute;  
}
.footer img {  
  height:18px;
  width:18px;
  margin-bottom: -3px;
}
.footer span {
  padding-left: 23px;
  font-size: 14px;
  color: #737373;
}

/* -------------Video------------- */
.custom-video_container {
  position: relative;
  top: 0;
  height: auto;
  margin: 1em;
}
.custom-video_video {
  border-radius: 0.5em;
  cursor: pointer;
}
.custom-video_control {
  position: absolute;
  top: 45%;
  left: 48%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1em;
  font-weight: 400;
  width: 3em;
  height: 3em;
  white-space: nowrap;
  line-height: 0;
  cursor: pointer;
}
video::-webkit-media-controls {
  position: relative;
  z-index: 1;
}

/* -------------Search Result------------- */
.tbl_search th {
  padding: 2px 15px 2px 15px;
  cursor: pointer;
  color: #2DA7A1;
  font-style: italic;
  text-align: left;
}  
.tbl_search th:hover {
color: #1b6b67;
}

/* -------------Default Screen------------- */
.input_accord {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #0B6687;
  font-weight: bold;
  cursor: pointer;
}
.tab-label:hover {
  background: #1d9fce;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: black;
  background: white;
  transition: all 0.35s;
}
.input_accord:checked + .tab-label {
  background: #1d9fce;
}
.input_accord:checked + .tab-label::after {
  transform: rotate(90deg);
}
.input_accord:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}